## **Questions based on Titanic Dataset:**

To read the dataset as csv, use the below code:

```python
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)
```

### `Q-1:` Using `groupby` make groups using the `"Pclass"` column and find out the average age and total number of missing values in the `"Age"` column for every group.

In [ ]:
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)

In [3]:
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# (1)
temp_data = titanic_df.groupby('Pclass')['Age'].mean()
temp_data

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

In [ ]:

temp_data = titanic_df.groupby('Pclass')['Age']
with_na = temp_data.size()
without_na = temp_data.count()
(with_na - without_na).sum()

np.int64(177)

In [9]:
import numpy as np

In [11]:
titanic_df[titanic_df['Embarked'].isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN

### `Q-2:` Using `groupby` make groups using the `"Pclass"` column and fill every group's `"Embarked"` column's missing values with the mode value of that group. After that, print every group's `"Embarked"` column's value counts in ascending order.

In [ ]:
# (1)
temp_data = titanic_df.groupby('Pclass')
df = pd.DataFrame(columns = titanic_df.columns)

for group,data in temp_data:
    data['Embarked'] = data['Embarked'].fillna(data['Embarked'].mode())
    df = pd.concat((df,data))    
    
df.groupby('Pclass')['Embarked'].value_counts()
# (2)
# Not Solved

C:\Users\axitk\AppData\Local\Temp\ipykernel_3284\1622976755.py:6: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat((df,data))

Pclass  Embarked
1       S           127
        C            85
        Q             2
2       S           164
        C            17
        Q             3
3       S           353
        Q            72
        C            66
Name: count, dtype: int64

In [ ]:
temp_data.

85     1
17     1
66     1
2      1
3      1
72     1
127    1
164    1
353    1
Name: count, dtype: int64

### `Q-3:` Make groups based on `"Embarked"` column. And for each of this embarked group, make another group based on `"Pclass"` and find out the average fare (round off up to 2 decimal places) for each "Pclass" for each group of "Embarked".

**Sample Output:**

```bash
{'C': {1: 105, 2: 25, 3: 11},
 'Q': {1: 90, 2: 12, 3: 11},
 'S': {1: 70, 2: 20, 3: 15}}
```

In [55]:
temp_data = titanic_df.groupby(['Embarked','Pclass'])
output = temp_data['Fare'].mean().sort_values(ascending= False)
output

Embarked  Pclass
C         1         104.718529
Q         1          90.000000
S         1          70.364862
C         2          25.358335
S         2          20.327439
          3          14.644083
Q         2          12.350000
C         3          11.214083
Q         3          11.183393
Name: Fare, dtype: float64

In [92]:
d1 = {}
d2 = {}
# output.loc[('Q', np.int64(3))]
for item in output.index:
    if item[0] not in d1:
        d1[item[0]] = {}
    
    d1[item[0]][item[1]] = round(output.loc[item])
    # if item[1] not in d2:
        
    
d1

{'C': {1: 105, 2: 25, 3: 11},
 'Q': {1: 90, 2: 12, 3: 11},
 'S': {1: 70, 2: 20, 3: 15}}

## **Questions Based on Fifa Worldcup - 2022 Dataset:**

You can read the dataset by using the below sample code

```python
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")
```

### `Q-4:` Perform `groupby` based on the `"Team"` column and then perform Z Normalization on top of the below columns of each group:
1. Passes
2. Passes Completed
3. Attempted Line Breaks
4. Completed Line Breaks

You have to make a python function named `z_normalization` which takes two arguments:

1. *group:* Every group that you have created
2. *cols_to_perform:* This parameter takes a list of columns on which you have to perform the Z-Normalization.

For this problem, you have to use th `apply()` method.

$\Large Z \ - \ Normalization = \frac{X_i - \mu}{std} $

After that find out the below values for each group:
- minimum "Passess"
- maximum "Passess"
- minimum "Yellow Cards"
- maximum "Yellow cards"
- average "Yellow Cards"
- maximum "Attempted Line Breaks"
- minimum "Attempted Line Breaks"
- standardard deviation of "Attempted Line Breaks"
- average Possession

In [ ]:
fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")
fifa_df.head(2)

,ID,Team,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
0,1312200,Rajasthan RoyalsGujarat Titans,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
1,1312200,Rajasthan RoyalsGujarat Titans,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans

In [159]:
df = pd.DataFrame(columns = fifa_df.columns)
df

Empty DataFrame
Columns: [Sl. No, Match No., Team, Against, Group, Goal, Possession (%), Inside Penalty Area, Outside Penalty Area, Assists, Total Attempts, On Target, Off Target, Target in Penalty, Target from Outside, Left Channel, Left Inside Channel, Central Channel, Right Inside Channel, Right Channel, Receptions MD, Receptions D, Attempted Line Breaks, Completed Line Breaks, Attempted Defensive Line Breaks, Completed Defensive Line Breaks, Yellow Cards, Red Cards, Fouls Against, Offsides, Passes, Passes Completed, Crosses, Crosses Completed, Corners, Free Kicks, Penalties Scored, Pts]
Index: []

[0 rows x 38 columns]

In [157]:
data = fifa_df.groupby('Team')

In [186]:
def z_normalization(data,l):
    df = pd.DataFrame(columns = fifa_df.columns)
    for item in l:
        for group,value in data:
            value[item + '_z_normalization'] = (value[item] - value[item].mean())/value[item].median()
            df = pd.concat((df,value))
    return df
     
# data['Passes'].apply(lambda x : x -1)

In [187]:
# l = ['Passes', 'Passes Completed', 'Attempted Line Breaks', 'Completed Line Breaks']
l = ['Attempted Line Breaks','Passes']
df = z_normalization(data,l)
df

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,...,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts,Attempted Line Breaks_z_normalization,Passes_z_normalization
8,9,5,Argentina,Saudi Arabia,C,1,51,1,0,0,...,593,525,36,15,9,21,1,0,0.078137,NaN
46,47,24,Argentina,Mexico,C,2,50,1,1,2,...,533,464,14,2,4,23,0,3,-0.170481,NaN
77,78,39,Argentina,Poland,C,2,67,1,1,2,...,862,814,22,5,9,5,0,3,-0.220205,NaN
98,99,50,Argentina,Australia,C,2,53,2,0,1,...,711,635,6,1,1,15,0,3,0.000789,NaN
115,116,58,Argentina,Netherlands,C,2,44,2,0,1,...,603,511,16,4,8,30,5,3,0.122336,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,64,32,Uruguay,Portugal,H,0,35,0,0,0,...,390,306,18,5,2,13,0,0,NaN,-0.144993
89,90,45,Uruguay,Ghana,H,2,39,2,0,1,...,446,361,15,4,2,20,0,3,NaN,-0.019432
7,8,4,Wales,United States,B,1,39,1,0,0,...,409,321,15,6,3,15,1,1,NaN,-0.012225
32,33,17,Wales,Iran,B,0,51,0,0,0,...,508,413,20,5,2,12,0,1,NaN,0.229829
68,69,35,Wales,England,B,0,33,0,0,0,...,325,261,4,1,1,10,0,0,NaN,-0.217604

## **Questions on IPL wala dataset**

ball by ball dataset - https://drive.google.com/file/d/1-kvv_9KCSAFWcrhS9WgTxSrURkRh6GNt/view?usp=share_link

###`Q-5:` Find batsman in below category-
* Highest score while chasing
* Best Strike rate while chasing and have faced 100+ balls


> Chasing mean team batting in second inning

In [208]:
ipl_df = pd.read_csv('D:\Education\Extra\Machine Learning\DSMP 1.0\Pandas\Exercise\Dataset\ipl_deliveries.csv')
ipl_df.head(1)

,ID,Team,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
0,1312200,Rajasthan RoyalsGujarat Titans,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans

In [216]:
#1

ipl_df[ipl_df['innings'] == 1].groupby(['BattingTeam','ID'])['total_run'].sum().sort_values(ascending = True)

BattingTeam                  ID
Delhi Daredevils             501265      56
Royal Challengers Bangalore  1178424     62
Delhi Daredevils             1082626     67
Kolkata Knight Riders        336021      67
Royal Challengers Bangalore  1304082     68
                                       ...
Chennai Super Kings          335983     240
Kolkata Knight Riders        1136604    245
Chennai Super Kings          419137     246
Royal Challengers Bangalore  980987     248
                             598027     263
Name: total_run, Length: 950, dtype: int64

In [ ]:
#2

ipl_df['Strike_rate'] =

###`Q-6` Most Successful bowler against any batsman. Find that pair of bowler and batsman.
> Most Successful in terms of dissmissal. A bowler who have dissmissed any batsman most no of times. If any two pairs have same no of dissmisal, consider runs conceded by bowler to that batsman. Those who have concede lesser runs is more successful.

In [ ]:
# code here

###`Q-7`: Most successful batting pair in IPL. Batting pair who have scored most runs playing together.

In [ ]:
# code here

###`Q-8:` Make a dataframe for all batting pairs played together.
```
Batsman1 Batsman2 Runs Avg StrikeRate
```

> Just to ease this question you can count wide-balls for strike rate.

In [ ]:
# code here