In [2]:
import numpy as np
import pandas as pd

# to visualize all the column, run the below code
pd.options.display.max_columns = None
# to show all the records, use the below code
# pd.options.display.max_rows = None

## Fifa Worldcup - 2022 dataset.

You can find the dataset from [here](https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results).

Also you can directly use an url to read the dataset by using `pd.read_csv()` method. Check the below code cell.

In [3]:
# To get the details about the dataset, please visit
# https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv"
df = pd.read_csv(url)
df.head()

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Red Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,0,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,0,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,0,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,0,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,0,13,2,391,326,22,8,6,14,0,0

### `Q-1:` Use the football dataset. Find out the total percentages that each team made on target. Display the result as a python dictionary where the keys are the team list and the values are the percentage values. Round off the percentage values up to 2 decimal places.

*Help:*
- First, find out how many total teams are participated in this worldcup. For that, you can use `unique()` method on the column "Team" or "Against".
- Loop through the teams list that you have found in previous section, and then filter the dataset according to that. After filtering the dataset, find out total attempts sum and total on target sum.
- After getting these values, find out the percentage by total on target divided by total attempts and multiply by 100. And store to a python dictionary where the key will be the team name and the values will be the percentages.
- At the end,sort the dictionary by the values (not by the keys) and print the result.


**Sample Output:**
```bash
{'Costa Rica': 54.55,
 'Cameroon': 51.85,
 'Ecuador': 48.15,
 'Argentina': 46.99,
 'Brazil': 45.56,
 'England': 45.0,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Netherlands': 39.02,
 'Korea Republic': 36.73,
 'Australia': 36.0,
 'Mexico': 34.88,
 'Croatia': 34.78,
 'Germany': 34.33,
 'France': 32.97,
 'Spain': 32.69,
 'Belgium': 32.35,
 'Serbia': 32.26,
 'Iran': 31.43,
 'Uruguay': 31.25,
 'United States': 31.11,
 'Saudi Arabia': 31.03,
 'Senegal': 30.77,
 'Denmark': 30.56,
 'Switzerland': 30.56,
 'Japan': 30.23,
 'Wales': 29.17,
 'Qatar': 28.57,
 'Morocco': 28.3,
 'Tunisia': 26.67,
 'Poland': 25.0,
 'Canada': 17.65}
```

In [31]:
total_team = df['Team'].unique()
output = {}
for item in total_team:
    total_attempts = df[df['Team'] == item]['Total Attempts'].sum()
    succeed_attempts = df[df['Team'] == item]['On Target'].sum()
    output[item] = float(np.round(100*succeed_attempts/total_attempts,2))

output = sorted(output.items(),key = lambda x : x[1],reverse = True)
dict(output)

{'Costa Rica': 54.55,
 'Cameroon': 51.85,
 'Ecuador': 48.15,
 'Argentina': 46.15,
 'Brazil': 45.56,
 'England': 45.0,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Netherlands': 39.02,
 'Korea Republic': 36.73,
 'Australia': 36.0,
 'Mexico': 34.88,
 'France': 34.65,
 'Germany': 34.33,
 'Croatia': 33.73,
 'Spain': 32.69,
 'Belgium': 32.35,
 'Serbia': 32.26,
 'Iran': 31.43,
 'Uruguay': 31.25,
 'United States': 31.11,
 'Saudi Arabia': 31.03,
 'Senegal': 30.77,
 'Denmark': 30.56,
 'Switzerland': 30.56,
 'Japan': 30.23,
 'Wales': 29.17,
 'Qatar': 28.57,
 'Morocco': 28.33,
 'Tunisia': 26.67,
 'Poland': 25.0,
 'Canada': 17.65}

### `Q-2:` Find out how many times the teams are played in this Fifa Worldcup-2022. On top of this, find out the ranks of the teams.

Note: The `DataFrame.rank()` method takes an optiinal parameter named `method`. This parameter takes different values, but one of them is `average` which is by-default. So, when you do the rank, you will get some 2.5 like floating values. But if you change the value as `first`, then you will get in integers but the datatype will be float. So, try with `method="first"` parameter.

In [57]:
total_team = df['Team'].unique()
out_played = {}
for item in total_team:
    match_played = df[df['Team'] == item].shape[0]
    # print(match_played)
    out_played[item] = match_played

out_played = sorted(out_played.items(),key = lambda x : x[1],reverse = True)
# dict(out_played)

match_number = pd.DataFrame(out_played)
match_number.rename(columns = {0:'Team name',1:'Match Played'},inplace = True)
match_number['Rank'] = match_number['Match Played'].rank(method = 'first',ascending = False)
match_number

         Team name  Match Played  Rank
0        Argentina             7   1.0
1           France             7   2.0
2          Morocco             7   3.0
3          Croatia             7   4.0
4          England             5   5.0
5      Netherlands             5   6.0
6         Portugal             5   7.0
7           Brazil             5   8.0
8          Senegal             4   9.0
9    United States             4  10.0
10          Poland             4  11.0
11       Australia             4  12.0
12           Japan             4  13.0
13           Spain             4  14.0
14     Switzerland             4  15.0
15  Korea Republic             4  16.0
16           Qatar             3  17.0
17         Ecuador             3  18.0
18            Iran             3  19.0
19           Wales             3  20.0
20    Saudi Arabia             3  21.0
21         Denmark             3  22.0
22         Tunisia             3  23.0
23          Mexico             3  24.0
24         Germany             3  25.0
25      Costa Rica             3  26.0
26         Belgium             3  27.0
27          Canada             3  28.0
28        Cameroon             3  29.0
29         Uruguay             3  30.0
30           Ghana             3  31.0
31          Serbia             3  32.0

### `Q-3:` Find out these below topics:
- The information about the Fifa worldcup dataset.
- The description about the Fifa worldcup dataset
- Check is there any missing values, if there is any missing values, fill that value with the average value for that particular column.
- Drop all the duplicate rows permanently.
- Drop the columns: "Sl No", "Match No.", "Red Cards" and "Pts" permanently.

In [ ]:
df.isnull().sum()

In [90]:
df.drop_duplicates(inplace = True)
df

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Red Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,0,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,0,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,0,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,0,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,0,13,2,391,326,22,8,6,14,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,124,62,Morocco,Fram,F,0,55,0,0,0,13,1,6,8,5,10,4,6,6,19,74,15,141,95,18,11,1,0,11,3,583,518,22,1,3,15,0,0
124,125,63,Croatia,Morocco,F,2,45,2,0,2,14,4,8,7,7,20,8,3,2,7,106,15,164,114,23,12,0,0,13,2,491,430,21,3,6,13,0,3
125,126,63,Morocco,Croatia,F,1,45,1,0,0,7,2,5,5,2,13,1,3,7,16,75,10,150,97,14,8,2,0,11,2,494,428,20,5,3,15,0,0
126,127,64,Argentina,France,C,3,46,3,0,1,21,9,9,13,8,13,6,8,9,9,163,28,249,172,40,24,4,0,26,4,648,544,20,4,6,22,5,3
127,128,64,France,Argentina,D,3,40,3,0,1,10,5,3,7,3,15,7,5,4,12,69,9,179,107,14,9,3,0,19,4,516,419,24,3,5,28,4,0

In [92]:
df.drop(columns = ['Sl. No','Match No.','Red Cards','Pts'],inplace = True)

In [93]:
df

,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored
0,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,15,3,453,387,10,5,1,19,0
1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,15,4,484,419,26,10,3,17,1
2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,9,2,810,733,29,9,8,16,0
3,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,14,2,232,156,11,3,0,10,1
4,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,13,2,391,326,22,8,6,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,Morocco,Fram,F,0,55,0,0,0,13,1,6,8,5,10,4,6,6,19,74,15,141,95,18,11,1,11,3,583,518,22,1,3,15,0
124,Croatia,Morocco,F,2,45,2,0,2,14,4,8,7,7,20,8,3,2,7,106,15,164,114,23,12,0,13,2,491,430,21,3,6,13,0
125,Morocco,Croatia,F,1,45,1,0,0,7,2,5,5,2,13,1,3,7,16,75,10,150,97,14,8,2,11,2,494,428,20,5,3,15,0
126,Argentina,France,C,3,46,3,0,1,21,9,9,13,8,13,6,8,9,9,163,28,249,172,40,24,4,26,4,648,544,20,4,6,22,5
127,France,Argentina,D,3,40,3,0,1,10,5,3,7,3,15,7,5,4,12,69,9,179,107,14,9,3,19,4,516,419,24,3,5,28,4

###`Q-4:` Do these below operations:
- Find out the rank based on the "Team" column and save the result by adding a new column named "Rank".
- Change the datatype of this column to integer by using `np.int16`
- Set the index of the DataFrame by using this "Rank" column permanently.
- After that, sort the dataframe based on the "Rank" index.

In [109]:
# print(df['Team'])
df['Team_rank'] = df['Team'].rank(method = 'first')
df['Team_rank']  = df['Team_rank'].astype(np.int16)

df.set_index('Team_rank',inplace = True)
df.sort_index(inplace = True)

In [110]:
df

,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored
Team_rank,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,Argentina,Saudi Arabia,C,1,51,1,0,0,14,6,6,10,4,12,4,5,8,18,91,27,195,127,10,8,0,7,10,593,525,36,15,9,21,1
2,Argentina,Mexico,C,2,50,1,1,2,5,2,3,2,3,10,6,2,4,12,89,2,150,100,10,5,1,15,2,533,464,14,2,4,23,0
3,Argentina,Poland,C,2,67,1,1,2,25,13,8,10,15,25,8,7,10,26,150,36,141,126,20,16,1,11,0,862,814,22,5,9,5,0
4,Argentina,Australia,C,2,53,2,0,1,14,5,7,11,3,15,6,11,2,17,127,8,181,135,16,8,0,8,4,711,635,6,1,1,15,0
5,Argentina,Netherlands,C,2,44,2,0,1,15,6,8,5,10,7,7,13,6,17,104,7,203,122,24,8,8,18,2,603,511,16,4,8,30,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,Uruguay,Portugal,H,0,35,0,0,0,10,3,6,6,4,13,8,4,5,9,94,6,150,86,17,11,2,16,0,390,306,18,5,2,13,0
125,Uruguay,Ghana,H,2,39,2,0,1,12,7,5,7,5,7,2,13,3,17,186,14,186,124,24,14,3,11,2,446,361,15,4,2,20,0
126,Wales,United States,B,1,39,1,0,0,7,3,3,5,2,7,2,5,2,7,73,9,174,103,17,8,2,10,1,409,321,15,6,3,15,1
127,Wales,Iran,B,0,51,0,0,0,10,3,4,5,5,18,3,8,11,13,101,13,208,129,17,8,1,9,2,508,413,20,5,2,12,0
128,Wales,England,B,0,33,0,0,0,7,1,3,1,6,7,1,2,0,4,46,1,104,55,4,1,2,16,1,325,261,4,1,1,10,0

## Questions on Titanic dataset.

You can get the dataset from [here](https://www.kaggle.com/competitions/titanic). This is the competition page on Kaggle. To download the dataset from here, I guess you have to register for the compition. So, do so and then download the dataset.

Also, for now you can use this url to read the dataset like before:
- dataset 1: https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv
- dataset 2: https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv

### `Q-5:` Do the below tasks:
1. With dataset 1, drop those records which only have missing values of the "Age" column permanently.

2. With the dataset 2, fill the missing values with 20 to the only "Age" column permanently.

In [ ]:
df1 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv')
df2 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv')

In [114]:
df1.shape

(891, 12)

In [ ]:
#1  
df1.dropna(subset=['Age'])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [116]:
#2
df1['Age'] = df1['Age'].fillna(20)

In [117]:
df1.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## Questions on IPL wala dataset

matches dataset = https://drive.google.com/file/d/1yKVUuexl6lIKuFQy7uIPgDgXhJ0L4SIg/view?usp=share_link

Code to directly use in colab
```
ipl_matches = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv"

```

###`Q-6:` Make a dataframe of each team in IPL with details like - Team Name, Matches Played, Win%, Home Win%, Away Win%.
Show sorted dataframe on Win%

Replace old team name as new name before performing any tasks.
```
Delhi Daredevils ->Delhi Capitals
Kings XI Punjab -> Punjab Kings
Rising Pune Supergiants -> Rising Pune Supergiant
```

Note: Team1 represents Home team. Exclude not result matches.

In [3]:
import os
os.chdir('D:\Education\Extra\Machine Learning\DSMP 1.0\Pandas\Exercise\Dataset')

In [4]:
ipl = pd.read_csv('ipl-matches.csv')
ipl.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon

In [170]:
changed_name = {'Delhi Daredevils':'Delhi Capitals','Kings XI Punjab':'Punjab Kings','Rising Pune Supergiants':'Rising Pune Supergiant'}

for item in changed_name:
    ipl['Team1'] = ipl['Team1'].apply(lambda x : changed_name[item] if item == x else x)
    ipl['Team2'] = ipl['Team2'].apply(lambda x : changed_name[item] if item == x else x)
    ipl['WinningTeam'] = ipl['WinningTeam'].apply(lambda x : changed_name[item] if item == x else x)


team_played = ipl['Team1'].unique()

In [171]:
df = pd.DataFrame()

df['team'] = team_played
df.set_index('team',inplace = True)

# #no of match played
for item in team_played:
    df.loc[item,'Match Played'] = ipl[(ipl['Team1'] == item) | (ipl['Team2'] == item)].shape[0]
    
df['Match Played'] = df['Match Played'].astype(np.int16)
df

                             Match Played
team
Rajasthan Royals                      192
Royal Challengers Bangalore           226
Sunrisers Hyderabad                   152
Delhi Capitals                        224
Chennai Super Kings                   208
Gujarat Titans                         16
Lucknow Super Giants                   15
Kolkata Knight Riders                 223
Punjab Kings                          218
Mumbai Indians                        231
Rising Pune Supergiant                 30
Gujarat Lions                          30
Pune Warriors                          46
Deccan Chargers                        75
Kochi Tuskers Kerala                   14

In [ ]:
#win%
df['Win(%)'] = 0

for item in team_played:
    df.loc[item,'Win(%)'] = ipl[ipl['WinningTeam'] == item].shape[0]

KeyError: 'Win'

In [183]:
#Home Played and Home Win
df['Home Played'] = 0
df['Home Win'] = 0
for item in team_played:
    df.loc[item,'Home Played'] = ipl[(ipl['Team1'] == item)].shape[0]
    
df['Home Played'] = df['Home Played'].astype(np.int16)
df

,Match Played,Win,Home Played,Home Win,Home Win(%),Win(%),Away Played,Away Win,Away Win(%)
team,,,,,,,,,
Rajasthan Royals,192,96,89,0,55,50,103,47,45
Royal Challengers Bangalore,226,109,126,0,48,48,100,48,48
Sunrisers Hyderabad,152,75,69,0,52,49,83,39,46
Delhi Capitals,224,103,114,0,46,45,110,50,45
Chennai Super Kings,208,121,111,0,58,58,97,56,57
Gujarat Titans,16,12,7,0,57,75,9,8,88
Lucknow Super Giants,15,9,8,0,87,60,7,2,28
Kolkata Knight Riders,223,114,105,0,53,51,118,58,49
Punjab Kings,218,101,110,0,45,46,108,51,47
Mumbai Indians,231,131,112,0,58,56,119,66,55
Rising Pune Supergiant,30,15,14,0,50,50,16,8,50
Gujarat Lions,30,13,16,0,31,43,14,8,57
Pune Warriors,46,12,23,0,26,26,23,6,26
Deccan Chargers,75,29,39,0,33,38,36,16,44
Kochi Tuskers Kerala,14,6,7,0,42,42,7,3,42

In [184]:
for item in team_played:
    df.loc[item,'Home Win'] = ipl[(ipl['Team1'] == item) & (ipl['WinningTeam'] == item)].shape[0]
    
df['Home Win'] = df['Home Win'].astype(np.int16)
df['Home Win(%)'] = 100*df['Home Win']/df['Home Played']
df['Home Win(%)'] = df['Home Win(%)'].astype(np.int16)
df

,Match Played,Win,Home Played,Home Win,Home Win(%),Win(%),Away Played,Away Win,Away Win(%)
team,,,,,,,,,
Rajasthan Royals,192,96,89,49,55,50,103,47,45
Royal Challengers Bangalore,226,109,126,61,48,48,100,48,48
Sunrisers Hyderabad,152,75,69,36,52,49,83,39,46
Delhi Capitals,224,103,114,53,46,45,110,50,45
Chennai Super Kings,208,121,111,65,58,58,97,56,57
Gujarat Titans,16,12,7,4,57,75,9,8,88
Lucknow Super Giants,15,9,8,7,87,60,7,2,28
Kolkata Knight Riders,223,114,105,56,53,51,118,58,49
Punjab Kings,218,101,110,50,45,46,108,51,47
Mumbai Indians,231,131,112,65,58,56,119,66,55
Rising Pune Supergiant,30,15,14,7,50,50,16,8,50
Gujarat Lions,30,13,16,5,31,43,14,8,57
Pune Warriors,46,12,23,6,26,26,23,6,26
Deccan Chargers,75,29,39,13,33,38,36,16,44
Kochi Tuskers Kerala,14,6,7,3,42,42,7,3,42

In [180]:

df = df.rename(columns = {'Win(%)':'Win'})

df['Win(%)'] = 100*df['Win']/df['Match Played']
df['Win(%)'] = df['Win(%)'].astype(np.int16)
df

,Match Played,Win,Home Played,Home Win,Home Win(%),Win(%)
team,,,,,,
Rajasthan Royals,192,96,89,49,55,50
Royal Challengers Bangalore,226,109,126,61,48,48
Sunrisers Hyderabad,152,75,69,36,52,49
Delhi Capitals,224,103,114,53,46,45
Chennai Super Kings,208,121,111,65,58,58
Gujarat Titans,16,12,7,4,57,75
Lucknow Super Giants,15,9,8,7,87,60
Kolkata Knight Riders,223,114,105,56,53,51
Punjab Kings,218,101,110,50,45,46
Mumbai Indians,231,131,112,65,58,56
Rising Pune Supergiant,30,15,14,7,50,50
Gujarat Lions,30,13,16,5,31,43
Pune Warriors,46,12,23,6,26,26
Deccan Chargers,75,29,39,13,33,38
Kochi Tuskers Kerala,14,6,7,3,42,42

In [ ]:
df['Away Played'] = 0
df['Away Win'] = 0
for item in team_played:
    df.loc[item,'Away Played'] = ipl[(ipl['Team2'] == item)].shape[0]
    
df['Away Played'] = df['Away Played'].astype(np.int16)

for item in team_played:
    df.loc[item,'Away Win'] = ipl[(ipl['Team2'] == item) & (ipl['WinningTeam'] == item)].shape[0]
    
df['Away Win'] = df['Away Win'].astype(np.int16)
df['Away Win(%)'] = 100*df['Away Win']/df['Away Played']
df['Away Win(%)'] = df['Away Win(%)'].astype(np.int16)
df

In [186]:
df

,Match Played,Win,Home Played,Home Win,Home Win(%),Win(%),Away Played,Away Win,Away Win(%)
team,,,,,,,,,
Rajasthan Royals,192,96,89,49,55,50,103,47,45
Royal Challengers Bangalore,226,109,126,61,48,48,100,48,48
Sunrisers Hyderabad,152,75,69,36,52,49,83,39,46
Delhi Capitals,224,103,114,53,46,45,110,50,45
Chennai Super Kings,208,121,111,65,58,58,97,56,57
Gujarat Titans,16,12,7,4,57,75,9,8,88
Lucknow Super Giants,15,9,8,7,87,60,7,2,28
Kolkata Knight Riders,223,114,105,56,53,51,118,58,49
Punjab Kings,218,101,110,50,45,46,108,51,47
Mumbai Indians,231,131,112,65,58,56,119,66,55
Rising Pune Supergiant,30,15,14,7,50,50,16,8,50
Gujarat Lions,30,13,16,5,31,43,14,8,57
Pune Warriors,46,12,23,6,26,26,23,6,26
Deccan Chargers,75,29,39,13,33,38,36,16,44
Kochi Tuskers Kerala,14,6,7,3,42,42,7,3,42

###`Q-7:` Venues with most "no result" matches.

In [8]:
ipl[ipl['WonBy'] == 'NoResults']['City'].value_counts()

City
Bangalore    3
Delhi        1
Name: count, dtype: int64

In [7]:
ipl['City'] = ipl['City'].apply(lambda x : 'Bangalore' if x == 'Bengaluru' else x)

###`Q-8:` Player with most appearance in final match.

`Team1Players` and `Team2Players` have all players name. It is not a list of players name instead it is str. So handle it as string.

Hint: split and strip will help; Make a series of all players in final and do value counts

In [52]:
mask = ipl['MatchNumber'] == 'Final'

data = ipl[mask]
ipl['All Player'] = ipl['Team1Players'] + ipl['Team1Players']

In [ ]:
# def make_value(data):
#     return data['All Player'].split(",")

ipl['All Player'] = ipl['All Player'].apply(lambda x : x.strip("'][").split(','))

0      False
1      False
2      False
3      False
4      False
       ...
945    False
946    False
947    False
948    False
949    False
Name: All Player, Length: 950, dtype: bool

###`Q-9:` IPL Point Table

Make a function `point_table` which take `season` as parameter and show points table in non-ascendng order of points and in ascending order of team name.

For winning - 2 Ponits;
For loosing - 0 Point
For not result both team gets 1 points.

Make dataframe which will have
`TeamName` `MatchesPlayed` `MatchesWon` `NoResult` `Points`
make `TeamName` as index.

```
season parametr should be one of these->
['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08']
```

Output of two Top 2 in season 2022
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points

Gujarat Titans	    16	   12	       0	     24
Rajasthan Royals	  17	   10	       0	     20

```

In [ ]:


season = ['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08']

In [209]:
def pointstable(season,ipl):
    point = pd.DataFrame({
                    'TeamName':[],
                      'MatchesPlayed':[],
                      'MatchesWon':[],
                      'NoResult':[],
                      'Points':[]
                      })
    
    mask = (ipl['Season'] == season) 
    point['TeamName'] = ipl[mask]['Team1'].unique()
    point.set_index('TeamName',inplace = True)
    
    for item in point.index:
        point['MatchesPlayed'] = ipl[mask & ((ipl['Team1'] == item) | (ipl['Team2'] == item))].shape[0]
        
        point.loc[item,'MatchesWon']  = ipl[mask & (ipl['WinningTeam'] == item) & (ipl['MatchNumber'] != 'Final')&
                                        (ipl['MatchNumber'] != 'Qualifier 2') & (ipl['MatchNumber'] != 'Qualifier 1')&
                                        (ipl['MatchNumber'] != 'Eliminator')].shape[0]

        point.loc[item,'NoResult'] = ipl[mask & (ipl['WonBy'] == 'NoResults' ) & (ipl['MatchNumber'] != 'Final')&
                                        (ipl['MatchNumber'] != 'Qualifier 2') & (ipl['MatchNumber'] != 'Qualifier 1')&
                                        (ipl['MatchNumber'] != 'Eliminator') &
                                        (((ipl['Team1'] == item) | (ipl['Team2'] == item)))].shape[0]
    
    point['Points'] = 2*point['MatchesWon'] + 1*point['NoResult']
    point.sort_values('Points',inplace = True,ascending = False)
    return point

In [229]:
pointstable('2023',ipl).head(4)

Empty DataFrame
Columns: [MatchesPlayed, MatchesWon, NoResult, Points]
Index: []

###`Q-10:` IPL Point Table cont.
Extend the above IPL Point Table with an extra column as `SeasonPosition`

Team below top 4 after sorting on `Points` and then on `TeamName` Will have same `SeasonPosition` as there rank. use rank function.

Teams in Top four will have `SeasonPosition` as:
```
    'Winner' - Team won final
    'Runner' - Team lost Final
    3 - Losing Team in Qualifier2
    4 - Losing Team in Eliminator
```

For changing value of pariticular cell use `df.at[row_index, col_label] = value`

Output of two Top 2 in season 2022. Your result should have all teams.
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points   SeasonPosition

Gujarat Titans	    16	   12	       0	     24         Winner
Rajasthan Royals	  17	   10	       0	     20         Runner

```

Note: If you try to chnage value of view of any dataframe a warnig will be shown. To avoid it, make a copy of the dataframe you want to change in by `df.copy()`

In [ ]:
# code here