In [ ]:
import numpy as np
import pandas as pd

# to visualize all the column, run the below code
pd.options.display.max_columns = None
# to show all the records, use the below code
# pd.options.display.max_rows = None

## Fifa Worldcup - 2022 dataset.

You can find the dataset from [here](https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results).

Also you can directly use an url to read the dataset by using `pd.read_csv()` method. Check the below code cell.

In [ ]:
# To get the details about the dataset, please visit
# https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv"
df = pd.read_csv(url)
df.head()

### `Q-1:` Use the football dataset. Find out the total percentages that each team made on target. Display the result as a python dictionary where the keys are the team list and the values are the percentage values. Round off the percentage values up to 2 decimal places.

*Help:*
- First, find out how many total teams are participated in this worldcup. For that, you can use `unique()` method on the column "Team" or "Against".
- Loop through the teams list that you have found in previous section, and then filter the dataset according to that. After filtering the dataset, find out total attempts sum and total on target sum.
- After getting these values, find out the percentage by total on target divided by total attempts and multiply by 100. And store to a python dictionary where the key will be the team name and the values will be the percentages.
- At the end,sort the dictionary by the values (not by the keys) and print the result.


**Sample Output:**
```bash
{'Costa Rica': 54.55,
 'Cameroon': 51.85,
 'Ecuador': 48.15,
 'Argentina': 46.99,
 'Brazil': 45.56,
 'England': 45.0,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Netherlands': 39.02,
 'Korea Republic': 36.73,
 'Australia': 36.0,
 'Mexico': 34.88,
 'Croatia': 34.78,
 'Germany': 34.33,
 'France': 32.97,
 'Spain': 32.69,
 'Belgium': 32.35,
 'Serbia': 32.26,
 'Iran': 31.43,
 'Uruguay': 31.25,
 'United States': 31.11,
 'Saudi Arabia': 31.03,
 'Senegal': 30.77,
 'Denmark': 30.56,
 'Switzerland': 30.56,
 'Japan': 30.23,
 'Wales': 29.17,
 'Qatar': 28.57,
 'Morocco': 28.3,
 'Tunisia': 26.67,
 'Poland': 25.0,
 'Canada': 17.65}
```

In [ ]:
total_team = df['Team'].unique()
output = {}
for item in total_team:
    total_attempts = df[df['Team'] == item]['Total Attempts'].sum()
    succeed_attempts = df[df['Team'] == item]['On Target'].sum()
    output[item] = float(np.round(100*succeed_attempts/total_attempts,2))

output = sorted(output.items(),key = lambda x : x[1],reverse = True)
dict(output)

### `Q-2:` Find out how many times the teams are played in this Fifa Worldcup-2022. On top of this, find out the ranks of the teams.

Note: The `DataFrame.rank()` method takes an optiinal parameter named `method`. This parameter takes different values, but one of them is `average` which is by-default. So, when you do the rank, you will get some 2.5 like floating values. But if you change the value as `first`, then you will get in integers but the datatype will be float. So, try with `method="first"` parameter.

In [ ]:
total_team = df['Team'].unique()
out_played = {}
for item in total_team:
    match_played = df[df['Team'] == item].shape[0]
    # print(match_played)
    out_played[item] = match_played

out_played = sorted(out_played.items(),key = lambda x : x[1],reverse = True)
# dict(out_played)

match_number = pd.DataFrame(out_played)
match_number.rename(columns = {0:'Team name',1:'Match Played'},inplace = True)
match_number['Rank'] = match_number['Match Played'].rank(method = 'first',ascending = False)
match_number

### `Q-3:` Find out these below topics:
- The information about the Fifa worldcup dataset.
- The description about the Fifa worldcup dataset
- Check is there any missing values, if there is any missing values, fill that value with the average value for that particular column.
- Drop all the duplicate rows permanently.
- Drop the columns: "Sl No", "Match No.", "Red Cards" and "Pts" permanently.

In [ ]:
df.isnull().sum()

In [ ]:
df.drop_duplicates(inplace = True)
df

In [ ]:
df.drop(columns = ['Sl. No','Match No.','Red Cards','Pts'],inplace = True)

In [ ]:
df

###`Q-4:` Do these below operations:
- Find out the rank based on the "Team" column and save the result by adding a new column named "Rank".
- Change the datatype of this column to integer by using `np.int16`
- Set the index of the DataFrame by using this "Rank" column permanently.
- After that, sort the dataframe based on the "Rank" index.

In [ ]:
# print(df['Team'])
df['Team_rank'] = df['Team'].rank(method = 'first')
df['Team_rank']  = df['Team_rank'].astype(np.int16)

df.set_index('Team_rank',inplace = True)
df.sort_index(inplace = True)

In [ ]:
df

## Questions on Titanic dataset.

You can get the dataset from [here](https://www.kaggle.com/competitions/titanic). This is the competition page on Kaggle. To download the dataset from here, I guess you have to register for the compition. So, do so and then download the dataset.

Also, for now you can use this url to read the dataset like before:
- dataset 1: https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv
- dataset 2: https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv

### `Q-5:` Do the below tasks:
1. With dataset 1, drop those records which only have missing values of the "Age" column permanently.

2. With the dataset 2, fill the missing values with 20 to the only "Age" column permanently.

In [ ]:
df1 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv')
df2 = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv')

In [ ]:
df1.shape

In [ ]:
#1  
df1.dropna(subset=['Age'],inplace = True)

In [ ]:
#2
df1['Age'] = df1['Age'].fillna(20)

In [ ]:
df1.isnull().sum()

## Questions on IPL wala dataset

matches dataset = https://drive.google.com/file/d/1yKVUuexl6lIKuFQy7uIPgDgXhJ0L4SIg/view?usp=share_link

Code to directly use in colab
```
ipl_matches = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv"

```

###`Q-6:` Make a dataframe of each team in IPL with details like - Team Name, Matches Played, Win%, Home Win%, Away Win%.
Show sorted dataframe on Win%

Replace old team name as new name before performing any tasks.
```
Delhi Daredevils ->Delhi Capitals
Kings XI Punjab -> Punjab Kings
Rising Pune Supergiants -> Rising Pune Supergiant
```

Note: Team1 represents Home team. Exclude not result matches.

In [ ]:
import os
os.chdir('D:\Education\Extra\Machine Learning\DSMP 1.0\Pandas\Exercise\Dataset')

In [ ]:
ipl = pd.read_csv('ipl-matches.csv')
ipl.head(2)

In [ ]:
changed_name = {'Delhi Daredevils':'Delhi Capitals','Kings XI Punjab':'Punjab Kings','Rising Pune Supergiants':'Rising Pune Supergiant'}

for item in changed_name:
    ipl['Team1'] = ipl['Team1'].apply(lambda x : changed_name[item] if item == x else x)
    ipl['Team2'] = ipl['Team2'].apply(lambda x : changed_name[item] if item == x else x)
    ipl['WinningTeam'] = ipl['WinningTeam'].apply(lambda x : changed_name[item] if item == x else x)


team_played = ipl['Team1'].unique()

In [ ]:
df = pd.DataFrame()

df['team'] = team_played
df.set_index('team',inplace = True)
df['Win(%)'] = 0
df['Home Played'] = 0
df['Home Win'] = 0
df['Away Played'] = 0
df['Away Win'] = 0

# #no of match played
for item in team_played:
    df.loc[item,'Match Played'] = ipl[(ipl['Team1'] == item) | (ipl['Team2'] == item)].shape[0]
    df.loc[item,'Win(%)'] = ipl[ipl['WinningTeam'] == item].shape[0] 
    df.loc[item,'Home Played'] = ipl[(ipl['Team1'] == item)].shape[0]
    df.loc[item,'Home Win'] = ipl[(ipl['Team1'] == item) & (ipl['WinningTeam'] == item)].shape[0]
    df.loc[item,'Away Played'] = ipl[(ipl['Team2'] == item)].shape[0]
    df.loc[item,'Away Win'] = ipl[(ipl['Team2'] == item) & (ipl['WinningTeam'] == item)].shape[0]

    
    
df['Away Played'] = df['Away Played'].astype(np.int16)
df['Away Win'] = df['Away Win'].astype(np.int16)
df['Away Win(%)'] = 100*df['Away Win']/df['Away Played']
df['Away Win(%)'] = df['Away Win(%)'].astype(np.int16)
df['Home Win'] = df['Home Win'].astype(np.int16)
df['Home Win(%)'] = 100*df['Home Win']/df['Home Played']
df['Home Win(%)'] = df['Home Win(%)'].astype(np.int16)
df['Home Played'] = df['Home Played'].astype(np.int16)
df['Match Played'] = df['Match Played'].astype(np.int16)
df = df.rename(columns = {'Win(%)':'Win'})
df['Win(%)'] = 100*df['Win']/df['Match Played']
df['Win(%)'] = df['Win(%)'].astype(np.int16)

df.sort_values('Win(%)',ascending = False,inplace = True)

In [99]:
df

,Win,Home Played,Home Win,Away Played,Away Win,Match Played,Away Win(%),Home Win(%),Win(%)
team,,,,,,,,,
Gujarat Titans,12,7,4,9,8,16,88,57,75
Lucknow Super Giants,9,8,7,7,2,15,28,87,60
Chennai Super Kings,121,111,65,97,56,208,57,58,58
Mumbai Indians,131,112,65,119,66,231,55,58,56
Kolkata Knight Riders,114,105,56,118,58,223,49,53,51
Rajasthan Royals,96,89,49,103,47,192,45,55,50
Rising Pune Supergiant,15,14,7,16,8,30,50,50,50
Sunrisers Hyderabad,75,69,36,83,39,152,46,52,49
Royal Challengers Bangalore,109,126,61,100,48,226,48,48,48
Punjab Kings,101,110,50,108,51,218,47,45,46
Delhi Capitals,103,114,53,110,50,224,45,46,45
Gujarat Lions,13,16,5,14,8,30,57,31,43
Kochi Tuskers Kerala,6,7,3,7,3,14,42,42,42
Deccan Chargers,29,39,13,36,16,75,44,33,38
Pune Warriors,12,23,6,23,6,46,26,26,26

In [101]:
ipl[ipl['WonBy'] == 'NoResults']['City'].value_counts()

City
Bangalore    3
Delhi        1
Name: count, dtype: int64

In [100]:
ipl['City'] = ipl['City'].apply(lambda x : 'Bangalore' if x == 'Bengaluru' else x)

###`Q-8:` Player with most appearance in final match.

`Team1Players` and `Team2Players` have all players name. It is not a list of players name instead it is str. So handle it as string.

Hint: split and strip will help; Make a series of all players in final and do value counts

In [125]:
mask = ipl['MatchNumber'] == 'Final'

data = ipl[mask]
playerSeries = pd.Series()

print(playerSeries)
def getPlayers(l):
    return pd.Series(list(map(lambda x : x.strip("'"),l.lstrip("'[").rstrip("]'").split(", ")))) #didnt Understand this logic

for player_list in data['Team1Players']:
    # print(player_list)
    x = getPlayers(player_list)
    playerSeries = pd.concat([playerSeries,x])
    
for player_list in data['Team2Players']:
    x = getPlayers(player_list)
    playerSeries = pd.concat([playerSeries,x])
    
playerSeries.value_counts().head()

Series([], dtype: object)

MS Dhoni     10
SK Raina      8
R Ashwin      7
RA Jadeja     7
AT Rayudu     7
Name: count, dtype: int64

###`Q-9:` IPL Point Table

Make a function `point_table` which take `season` as parameter and show points table in non-ascendng order of points and in ascending order of team name.

For winning - 2 Ponits;
For loosing - 0 Point
For not result both team gets 1 points.

Make dataframe which will have
`TeamName` `MatchesPlayed` `MatchesWon` `NoResult` `Points`
make `TeamName` as index.

```
season parametr should be one of these->
['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08']
```

Output of two Top 2 in season 2022
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points

Gujarat Titans	    16	   12	       0	     24
Rajasthan Royals	  17	   10	       0	     20

```

In [ ]:


season = ['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08']

In [ ]:
def pointstable(season,ipl):
    point = pd.DataFrame({
                    'TeamName':[],
                      'MatchesPlayed':[],
                      'MatchesWon':[],
                      'NoResult':[],
                      'Points':[]
                      })
    
    mask = (ipl['Season'] == season) 
    point['TeamName'] = ipl[mask]['Team1'].unique()
    point.set_index('TeamName',inplace = True)
    
    for item in point.index:
        point['MatchesPlayed'] = ipl[mask & ((ipl['Team1'] == item) | (ipl['Team2'] == item))].shape[0]
        
        point.loc[item,'MatchesWon']  = ipl[mask & (ipl['WinningTeam'] == item) & (ipl['MatchNumber'] != 'Final')&
                                        (ipl['MatchNumber'] != 'Qualifier 2') & (ipl['MatchNumber'] != 'Qualifier 1')&
                                        (ipl['MatchNumber'] != 'Eliminator')].shape[0]

        point.loc[item,'NoResult'] = ipl[mask & (ipl['WonBy'] == 'NoResults' ) & (ipl['MatchNumber'] != 'Final')&
                                        (ipl['MatchNumber'] != 'Qualifier 2') & (ipl['MatchNumber'] != 'Qualifier 1')&
                                        (ipl['MatchNumber'] != 'Eliminator') &
                                        (((ipl['Team1'] == item) | (ipl['Team2'] == item)))].shape[0]
    
    point['Points'] = 2*point['MatchesWon'] + 1*point['NoResult']
    point.sort_values('Points',inplace = True,ascending = False)
    return point

In [133]:
pointstable('2013',ipl).head(4)

                     MatchesPlayed  MatchesWon  NoResult  Points
TeamName
Chennai Super Kings             16        11.0       0.0    22.0
Mumbai Indians                  16        11.0       0.0    22.0
Rajasthan Royals                16        10.0       0.0    20.0
Sunrisers Hyderabad             16        10.0       0.0    20.0

###`Q-10:` IPL Point Table cont.
Extend the above IPL Point Table with an extra column as `SeasonPosition`

Team below top 4 after sorting on `Points` and then on `TeamName` Will have same `SeasonPosition` as there rank. use rank function.

Teams in Top four will have `SeasonPosition` as:
```
    'Winner' - Team won final
    'Runner' - Team lost Final
    3 - Losing Team in Qualifier2
    4 - Losing Team in Eliminator
```

For changing value of pariticular cell use `df.at[row_index, col_label] = value`

Output of two Top 2 in season 2022. Your result should have all teams.
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points   SeasonPosition

Gujarat Titans	    16	   12	       0	     24         Winner
Rajasthan Royals	  17	   10	       0	     20         Runner

```

Note: If you try to chnage value of view of any dataframe a warnig will be shown. To avoid it, make a copy of the dataframe you want to change in by `df.copy()`

In [ ]:

def pointstable_extension(season):
    df3 = pointstable(season,ipl)
    df = ipl[ipl['Season'] == season].copy()
    df3['SeasonPosition'] = df3['Points'].rank(ascending = False,method = 'first').astype('object')
    df['LoosingTeam'] = df3['WinningTeam' == df['Team1']]['Team2'].append(df3['WinningTeam' == df['Team2']]['Team1'])
    final = df[df['Match Number' == 'final']]    
    winning_team = final['WinningTeam'].values[0]
    runner = final['LoosingTeam'].values[0]
    df3.at[winning_team,'SeasonPosition'] = 'Winner'
    df3.at[runner,'SeasonPosition'] = 'Runner'
    q = df[df['Match Number' == 'Qualifier 2']]    
    e = df[df['Match Number' == 'eliminator']]    
    third = q['WinningTeam'].values[0]
    fourth = e['LoosingTeam'].values[0]
    df3.at[third,'SeasonPosition'] = 'Third'
    df3.at[fourth,'SeasonPosition'] = 'Fourth'
    return df3

In [136]:
pointstable_extension(2022)

C:\Users\axitk\AppData\Local\Temp\ipykernel_14204\1705562238.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df['LoosingTeam'] = df3['WinningTeam' == df['Team1']]['Team2'].append(df3['WinningTeam' == df['Team2']]['Team1'])

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).