In [ ]:
import pandas as pd
import numpy as np

DATA DESCRIPTION
```
file name -> Columns
quater-i.csv -> ['order_id', 'quantity', 'item_id', 'choice_description_id' 'item_price']
items.csv -> ['item_id', 'item_name']
```
Dataset Link - https://drive.google.com/drive/folders/1Z0kaFybvgFeczeUj4dldUnhTdloLqLsL?usp=share_link

In [9]:
# import like this
# items_path = "https://drive.google.com/file/d/1MokLL6WAVRrA4TcWSCocTG_U7H-iN4Nw/view?usp=drive_link"
# q1_path = "/content/drive/MyDrive/DSMP/01 - Python/Daily Tasks/Week 7/data/quarter-1.csv"
# q2_path = "/content/drive/MyDrive/DSMP/01 - Python/Daily Tasks/Week 7/data/quarter-2.csv"
# q3_path = "/content/drive/MyDrive/DSMP/01 - Python/Daily Tasks/Week 7/data/quarter-3.csv"

items = pd.read_csv('Dataset\items.csv')
q1= pd.read_csv('Dataset\quarter-1.csv')
q2 = pd.read_csv('Dataset\quarter-2.csv')
q3 = pd.read_csv('Dataset\quarter-3.csv')
q1

      order_id  quantity  item_id  choice_description_id item_price
0            1         1        1                      1     $3.39
1            1         1        2                      2     $3.39
2            2         2        4                      3    $16.98
3            4         1        7                      6     $9.25
4            6         1        9                      8     $8.75
...        ...       ...      ...                    ...        ...
2270      1831         1       16                      0     $1.50
2271      1833         1        6                    276    $11.75
2272      1833         1        6                    904    $11.75
2273      1834         1       20                    303     $8.75
2274      1834         1       20                     30     $8.75

[2275 rows x 5 columns]

###`Q:1-5`
1. You are given three quater files, your job is to append these three files and make a single dataframe.
2. Have a index as Q-1 Q-2 Q-3 for respective quater files in the dataframe
3. Your are given a file items.csv which has item_id and item_name. Find out most sold items in each quarter.
4. Find out items which has made most revenue in each quarter.
5. Find out avg order price of each quarter.

***Note: item_price is given as str with $ sign, in earlier task you have converted this to rupees, here too first convert item_price field in rupees.***

In [7]:
#1 Merge Quarter File
quarter = pd.concat([q1,q2,q3],ignore_index = True)
quarter

     order_id quantity item_id choice_description_id item_price
0           1        1       1                     1     $3.39
1           1        1       2                     2     $3.39
2           2        2       4                     3    $16.98
3           4        1       7                     6     $9.25
4           6        1       9                     8     $8.75
...       ...      ...     ...                   ...        ...
4617     1829        1      23                    92    $11.25
4618     1830        1      23                  1043    $11.25
4619     1832        1      10                   116     $8.75
4620     1832        1       8                     0     $4.45
4621     1834        1      20                   515    $11.25

[4622 rows x 5 columns]

In [12]:
#2
quarter = pd.concat([q1,q2,q3],keys=['q1','q2','q3'])
quarter = quarter.reset_index()
quarter.head()

  level_0  level_1 order_id quantity item_id choice_description_id item_price
0      q1        0        1        1       1                     1     $3.39
1      q1        1        1        1       2                     2     $3.39
2      q1        2        2        2       4                     3    $16.98
3      q1        3        4        1       7                     6     $9.25
4      q1        4        6        1       9                     8     $8.75

In [14]:
#3
quarter_item = quarter.merge(items,how = 'left',on = 'item_id')
quarter_item

,level_0,level_1,order_id,quantity,item_id,choice_description_id,item_price,item_name
0,q1,0,1,1,1,1,$3.39,Izze
1,q1,1,1,1,2,2,$3.39,Nantucket Nectar
2,q1,2,2,2,4,3,$16.98,Chicken Bowl
3,q1,3,4,1,7,6,$9.25,Steak Soft Tacos
4,q1,4,6,1,9,8,$8.75,Chicken Crispy Tacos
...,...,...,...,...,...,...,...,...
4617,q2,2342,1829,1,23,92,$11.25,Veggie Burrito
4618,q2,2343,1830,1,23,1043,$11.25,Veggie Burrito
4619,q2,2344,1832,1,10,116,$8.75,Chicken Soft Tacos
4620,q2,2345,1832,1,8,0,$4.45,Chips and Guacamole
4621,q2,2346,1834,1,20,515,$11.25,Chicken Salad Bowl

In [28]:
quarter_item.groupby(['level_0','item_name'])['item_name'].value_counts().sort_values(ascending = False).head(2)

level_0  item_name
q2       Chicken Bowl    375
q1       Chicken Bowl    351
Name: count, dtype: int64

In [ ]:
#4
# quarter_item['item_price'] = quarter_item['item_price'].apply(lambda x : float(x.replace('$','').strip()))
# quarter_item
quarter_item.groupby(['level_0','item_name'])['item_price'].sum().reset_index().groupby('level_0').sort_values(ascending = False).head(2)

In [42]:
quarter_item.groupby(['level_0','order_id'])['item_price'].mean().reset_index().groupby('level_0')['item_price'].mean()

level_0
q1    7.741253
q2    7.404732
Name: item_price, dtype: float64

###`Q-6` From the IPL wala dataset you have to find the Purple cap holder each season.

*Note: Bowler with most no wickets in a season gets purple cap. If more than one bowler have same no of wickets in the season, one with least ecomnomy among them is purple cap holder.*

Bowler's Economy = runs-conceded per six balls

In [211]:
ipl_df1 = pd.read_csv('Dataset\ipl_deliveries.csv')
ipl_df2 = pd.read_csv('Dataset\ipl-matches.csv')

df = ipl_df2.merge(ipl_df1,how='inner',on ='ID')
df['kind'].unique()

array([nan, 'caught', 'caught and bowled', 'run out', 'bowled', 'stumped',
       'lbw', 'hit wicket', 'retired hurt', 'retired out',
       'obstructing the field'], dtype=object)

In [ ]:
#finding bowler Economy
bowler_overs = df.groupby(['Season','bowler'])['ballnumber'].count()/6
total_runs_consceded = df.groupby(['Season','bowler'])['total_run'].sum()

bowler_economy = total_runs_consceded/bowler_overs 
bowler_economy

Season   bowler
2007/08  A Kumble              7.983051
         A Mishra              6.829268
         A Nehra               7.650000
         A Nel                10.333333
         A Symonds            14.454545
                                ...
2022     VR Iyer              11.500000
         Washington Sundar     8.435294
         YBK Jaiswal          36.000000
         YS Chahal             7.496503
         Yash Dayal            8.663415
Length: 1673, dtype: float64

In [ ]:
temp_df = df[df['isWicketDelivery'] == True]
bowler_wicket = temp_df.groupby(['Season','bowler'])['isWicketDelivery'].count().reset_index()
bowler_wicket['Economy'] = 0


for groups,item in bowler_wicket.groupby(['Season','bowler']):
    item['Economy'] = bowler_economy

TypeError: 'DataFrameGroupBy' object does not support item assignment

In [ ]:
.reset_index().groupby('Season').first()

###`Q-7:` Best bowler in death overs.
*Note: Have taken most no of wickets in case of tie with least economy*

Death Overs - [16-20]

In [ ]:
temp_df = df[df['overs']>16 & df['isWicketDelivery']]

###`Q-8` Batsman record season wise

Make a function which takes a input `batsman_name` and it returns a dataframe.
Columns of the data frame are - `['Season','Innings', 'TotalRuns', 'Avg', 'HighestScore','StrikeRate']`.
* In result make `Season` column as index.

* Avg - total_runs/ no of time got out. - player_out column will help.
* StrikeRate -(total_runs/ balls faced) * 100- wides are not included in batsman ball faced counts. No balls are included. -> Extra_type column will help
* Batsman Can score runs on No Balls.
* Batsman can get out on No Ball or Wides. And even while being on non-striker. Keep these things in mind before masking.

In [221]:
# out_df = pd.DataFrame(columns=['Season','Innings', 'TotalRuns', 'Avg', 'HighestScore','StrikeRate'] )

def batsman_record(bat):
    out_df = pd.DataFrame(columns=['Season'] )
    temp_df = df[(df['isWicketDelivery'] == False) & (df['batter'] == bat)]
    temp_df1 = temp_df.groupby(['Season'])
    temp_df2 = temp_df.groupby(['Season','ID'])
    
    out_df['Season'] = temp_df['Season'].unique()[::-1]
    out_df = out_df.merge(temp_df1['ID'].nunique(),how='inner',on='Season')    
    
    out_df = out_df.merge(temp_df1['batsman_run'].sum(),how='inner',on='Season')    
    
    out_df['Avg'] = round(out_df['batsman_run']/out_df['ID'],2)
    
    highest_score = temp_df2['batsman_run'].sum().reset_index().sort_values(by = 'batsman_run',ascending = False).groupby('Season').first()
    out_df = out_df.merge(highest_score,how='inner',on='Season')    
    
    out_df.rename(columns = {'ID_x':'Innings','batsman_run_x' : 'TotalRuns','ID_y':'Match_no','batsman_run_y':'HighestScore'},inplace = True)
    
    temp_df3 = df[(df['extra_type'] != 'wides')&(df['batter'] == bat)].groupby('Season')
    bowl_faced = temp_df3['innings'].count()
    out_df = out_df.merge(bowl_faced,how='inner',on='Season')    
    out_df.rename(columns = {'innings':'Bowl_faced'},inplace = True)
    out_df['StrikeRate'] = 100*out_df['TotalRuns']/out_df['Bowl_faced']
    return out_df


batsman_record('V Kohli')[['Season','Innings', 'TotalRuns', 'Avg', 'HighestScore','StrikeRate']]

     Season  Innings  TotalRuns    Avg  HighestScore  StrikeRate
0   2007/08       11        165  15.00            38  105.095541
1      2009       13        246  18.92            50  112.328767
2   2009/10       13        306  23.54            58  144.339623
3      2011       16        556  34.75            71  120.869565
4      2012       15        364  24.27            73  111.656442
5      2013       16        638  39.88            98  138.997821
6      2014       13        358  27.54            73  121.768707
7      2015       16        504  31.50            82  130.569948
8      2016       16        973  60.81           113  152.031250
9      2017        9        307  34.11            64  121.825397
10     2018       14        530  37.86            92  139.107612
11     2019       14        464  33.14           100  141.463415
12  2020/21       15        471  31.40            90  122.020725
13     2021       15        405  27.00            72  119.469027
14     2022       13        340  26.15            73  115.646259

###`Q-9` Using both dataset, make a dataframe as described below

Data Frame columns-> `['PlayerOfThematch', 'BattingFigure', 'BowlingFigure']`

* BattingFigure->`<runs>/<balls>`
* BowlingFigure->`<wicket>/<runs-conceded>`

DataFrame should have one record for each match.

Say 'V Kohli' got POM award then in dataset include his batting figure of that match. Say he scored 112runs in 76 balls. And he hasn't bowled so Bowling Figure will be NaN
```
PlayerOfThematch BattingFigure BowlingFigure
V Kohli          112/76         nan  

```

In [ ]:
# code here

## **Questions Based on Iris Dataset**

- **Sepal All:** https://docs.google.com/spreadsheets/d/e/2PACX-1vT58ekmHTwptX7Bs4QOy6YByA1HMvYTACeeIjrKhHE0Pg1K_3egewHMKMh02zN9D5-yHVXfvuaa3s5u/pub?gid=2028782809&single=true&output=csv
    - **Unnamed: 0:** Unused column. This column is created when creating this sub-dataset.
    - **Id:** Id of the records.
    - **SepalLengthCm:** Sepal length of flowers in cm
    - **SepalWidthCm:** Sepal width of flowers in cm

- **Petal All:** https://docs.google.com/spreadsheets/d/e/2PACX-1vQinLXShrOz4ExNaW1bSQVuvbbhIzJW7G0kkkD2SvqSD6STjLrQQiftgI7BGe10sBZi0CNr2_sJpQAz/pub?gid=1580010789&single=true&output=csv
    - **Unnamed: 0:** Unused column. This column is created when creating this sub-dataset.
    - **Id:** Id of the records.
    - **PetalLengthCm:** Petal length of flowers in cm
    - **PetalWidthCm:** Petal width of flowers in cm

- **Iris Virginica:** https://docs.google.com/spreadsheets/d/e/2PACX-1vSK39MwduGPHYNgw5yViezoLYCVDKMCWIHzjnt3GZNaxHPFOQLr2q6no_tyqTsOk-VfXleslfGVe9eJ/pub?gid=314231613&single=true&output=csv
    - **Unnamed: 0:** Unused column. This column is created when creating the sub-dataset.
    - **Id:** Id of the records.
    - **Species:** Name of this species.

- **Iris Versicolor:** https://docs.google.com/spreadsheets/d/e/2PACX-1vTcSFgLnabqIrgIc5WlwvnbbvyyJsgZjR-0E0-4TR-5aHgv_0EP6yNWglkkls3AXM2qHCR5VYzWCoTM/pub?gid=715607857&single=true&output=csv
    - **Unnamed: 0:** Unused column. This column is created when creating the sub-dataset.
    - **Id:** Id of the records.
    - **Species:** Name of this species.

- **Iris Setosa:** https://docs.google.com/spreadsheets/d/e/2PACX-1vSjqJpdgy2X_oDUUqQ0sSaFKqnnf8MYU4KgJSYgHaHmq0Wb1weMOsJXh-rICHmkLcaTkOwzMYLeh959/pub?gid=2003684803&single=true&output=csv
    - **Unnamed 0:** Unused column. This column is created when creating the sub-dataset.
    - **Id:** Id of the records.
    - **Species:** Name of this species.

In [ ]:
import pandas as pd
sepal_all = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT58ekmHTwptX7Bs4QOy6YByA1HMvYTACeeIjrKhHE0Pg1K_3egewHMKMh02zN9D5-yHVXfvuaa3s5u/pub?gid=2028782809&single=true&output=csv")
petal_all = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vQinLXShrOz4ExNaW1bSQVuvbbhIzJW7G0kkkD2SvqSD6STjLrQQiftgI7BGe10sBZi0CNr2_sJpQAz/pub?gid=1580010789&single=true&output=csv")

virginica = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vSK39MwduGPHYNgw5yViezoLYCVDKMCWIHzjnt3GZNaxHPFOQLr2q6no_tyqTsOk-VfXleslfGVe9eJ/pub?gid=314231613&single=true&output=csv")
versicolor = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vTcSFgLnabqIrgIc5WlwvnbbvyyJsgZjR-0E0-4TR-5aHgv_0EP6yNWglkkls3AXM2qHCR5VYzWCoTM/pub?gid=715607857&single=true&output=csv")
setosa = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vSjqJpdgy2X_oDUUqQ0sSaFKqnnf8MYU4KgJSYgHaHmq0Wb1weMOsJXh-rICHmkLcaTkOwzMYLeh959/pub?gid=2003684803&single=true&output=csv")

### `Q-9:` Plot a bar chart of the average Sepal Length  of Virginica and average Petal length of Setosa flower.

In [ ]:
# code here

### `Q-10:` Create the complete dataset by uisng the below datasets:
- virginica
- versicolor
- setosa
- sepal all
- petal all

This dataset should have these below column names in order:
1. Id
2. Species
3. SepalLengthCm
4. SepalWidthCm
5. PetalLengthCm
6. PetalWidthCm

Also, the dataset should be shuffled means the `Id` column should not be in increasing or decreasing order. So, make a dataset which has the shuffled Id column. You can use `DataFrame.sample()` method to shuffle.

In [ ]:
# code here

### `Q-11:` Find out the maximum and minimum sepal width and petal width of Setosa and Versicolor. To do this:
- First create a dataset with merging the required datasets
- After that, use `groupby` to create groups based on the "Species" column.
- Then find out which are asked in this question.


The output should be like this:
```bash
Minimum Sepal width of Setosa is 2.3
Maximum Sepal width of Setosa is 4.4

**************************************************

Minimum Sepal width of Versicolor is 2.0
Maximum Sepal width of Versicolor is 3.4

**************************************************
```

In [ ]:
# code here