## **Questions based on Titanic Dataset:**

To read the dataset as csv, use the below code:

```python
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)
```

### `Q-1:` Using `groupby` make groups using the `"Pclass"` column and find out the average age and total number of missing values in the `"Age"` column for every group.

In [1]:
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)

In [2]:
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# 1
temp_data = titanic_df.groupby('Pclass')['Age'].mean()

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

In [ ]:
# 2
temp_data = titanic_df.groupby('Pclass')['Age']
with_na = temp_data.size()
without_na = temp_data.count()
(with_na - without_na).sum()

np.int64(177)

In [3]:
import numpy as np

In [4]:
titanic_df[titanic_df['Embarked'].isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN

### `Q-2:` Using `groupby` make groups using the `"Pclass"` column and fill every group's `"Embarked"` column's missing values with the mode value of that group. After that, print every group's `"Embarked"` column's value counts in ascending order.

In [82]:
temp_data = titanic_df.groupby('Pclass')
df = pd.DataFrame(columns = titanic_df.columns)

for group,data in temp_data:

    data['Embarked'] = data['Embarked'].fillna(data['Embarked'].mode()[0])
    print(temp_data.get_group(group)['Embarked'].value_counts())    
    df = pd.concat((df,data)) 
    
# df['Embarked'].isna().sum()

Embarked
S    127
C     85
Q      2
Name: count, dtype: int64
Embarked
S    164
C     17
Q      3
Name: count, dtype: int64
Embarked
S    353
Q     72
C     66
Name: count, dtype: int64

C:\Users\axitk\AppData\Local\Temp\ipykernel_4384\3821780115.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat((df,data))

### `Q-3:` Make groups based on `"Embarked"` column. And for each of this embarked group, make another group based on `"Pclass"` and find out the average fare (round off up to 2 decimal places) for each "Pclass" for each group of "Embarked".

**Sample Output:**

```bash
{'C': {1: 105, 2: 25, 3: 11},
 'Q': {1: 90, 2: 12, 3: 11},
 'S': {1: 70, 2: 20, 3: 15}}
```

In [ ]:
# (1)    
x = df.groupby('Pclass')['Embarked'].value_counts()

In [ ]:
# (2)
# Not Solved
temp_data = titanic_df.groupby(['Embarked','Pclass'])
output = temp_data['Fare'].mean().sort_values(ascending= False)
output

Embarked  Pclass
C         1         104.718529
Q         1          90.000000
S         1          70.364862
C         2          25.358335
S         2          20.327439
          3          14.644083
Q         2          12.350000
C         3          11.214083
Q         3          11.183393
Name: Fare, dtype: float64

In [ ]:
d1 = {}
# output.loc[('Q', np.int64(3))]
for item in output.index:
    if item[0] not in d1:
        d1[item[0]] = {}
    
    d1[item[0]][item[1]] = round(output.loc[item])
    # if item[1] not in d2:
d1

{'C': {1: 105, 2: 25, 3: 11},
 'Q': {1: 90, 2: 12, 3: 11},
 'S': {1: 70, 2: 20, 3: 15}}

## **Questions Based on Fifa Worldcup - 2022 Dataset:**

You can read the dataset by using the below sample code

```python
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")
```

### `Q-4:` Perform `groupby` based on the `"Team"` column and then perform Z Normalization on top of the below columns of each group:
1. Passes
2. Passes Completed
3. Attempted Line Breaks
4. Completed Line Breaks

You have to make a python function named `z_normalization` which takes two arguments:

1. *group:* Every group that you have created
2. *cols_to_perform:* This parameter takes a list of columns on which you have to perform the Z-Normalization.

For this problem, you have to use th `apply()` method.

$\Large Z \ - \ Normalization = \frac{X_i - \mu}{std} $

After that find out the below values for each group:
- minimum "Passess"
- maximum "Passess"
- minimum "Yellow Cards"
- maximum "Yellow cards"
- average "Yellow Cards"
- maximum "Attempted Line Breaks"
- minimum "Attempted Line Breaks"
- standardard deviation of "Attempted Line Breaks"
- average Possession

In [ ]:
fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")
fifa_df.head(2)

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,...,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,...,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,...,15,4,484,419,26,10,3,17,1,3

In [21]:
df = pd.DataFrame(columns = fifa_df.columns)
df

Empty DataFrame
Columns: [Sl. No, Match No., Team, Against, Group, Goal, Possession (%), Inside Penalty Area, Outside Penalty Area, Assists, Total Attempts, On Target, Off Target, Target in Penalty, Target from Outside, Left Channel, Left Inside Channel, Central Channel, Right Inside Channel, Right Channel, Receptions MD, Receptions D, Attempted Line Breaks, Completed Line Breaks, Attempted Defensive Line Breaks, Completed Defensive Line Breaks, Yellow Cards, Red Cards, Fouls Against, Offsides, Passes, Passes Completed, Crosses, Crosses Completed, Corners, Free Kicks, Penalties Scored, Pts]
Index: []

[0 rows x 38 columns]

In [126]:
def z_normalization(group,cols_to_perform):
    for col in cols_to_perform:
        std = group[col].std()
        mean = group[col].mean()
        group[f'{col}_z_norm'] = (group[col]-mean)/std  
    return group


cols_to_perform = ['Passes','Passes Completed','Attempted Line Breaks','Completed Line Breaks']
groups = fifa_df.groupby('Team')
groups = groups.apply(z_normalization,cols_to_perform = cols_to_perform)

C:\Users\axitk\AppData\Local\Temp\ipykernel_4384\867195401.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  groups = groups.apply(z_normalization,cols_to_perform = cols_to_perform)

In [127]:
groups

               Sl. No  Match No.       Team        Against Group  Goal  \
Team
Argentina 8         9          5  Argentina   Saudi Arabia     C     1
          46       47         24  Argentina         Mexico     C     2
          77       78         39  Argentina         Poland     C     2
          98       99         50  Argentina      Australia     C     2
          115     116         58  Argentina    Netherlands     C     2
...               ...        ...        ...            ...   ...   ...
Uruguay   63       64         32    Uruguay       Portugal     H     0
          89       90         45    Uruguay          Ghana     H     2
Wales     7         8          4      Wales  United States     B     1
          32       33         17      Wales           Iran     B     0
          68       69         35      Wales        England     B     0

               Possession (%)  Inside Penalty Area  Outside Penalty Area  \
Team
Argentina 8                51                    1                     0
          46               50                    1                     1
          77               67                    1                     1
          98               53                    2                     0
          115              44                    2                     0
...                       ...                  ...                   ...
Uruguay   63               35                    0                     0
          89               39                    2                     0
Wales     7                39                    1                     0
          32               51                    0                     0
          68               33                    0                     0

               Assists  ...  Crosses  Crosses Completed  Corners  Free Kicks  \
Team                    ...
Argentina 8          0  ...       36                 15        9          21
          46         2  ...       14                  2        4          23
          77         2  ...       22                  5        9           5
          98         1  ...        6                  1        1          15
          115        1  ...       16                  4        8          30
...                ...  ...      ...                ...      ...         ...
Uruguay   63         0  ...       18                  5        2          13
          89         1  ...       15                  4        2          20
Wales     7          0  ...       15                  6        3          15
          32         0  ...       20                  5        2          12
          68         0  ...        4                  1        1          10

               Penalties Scored  Pts  Passes_z_norm  Passes Completed_z_norm  \
Team
Argentina 8                   1    0      -0.208138                -0.157888
          46                  0    3      -0.630447                -0.574048
          77                  0    3       1.685214                 1.813757
          98                  0    3       0.622403                 0.592566
          115                 5    3      -0.137753                -0.253400
...                         ...  ...            ...                      ...
Uruguay   63                  0    0      -0.931702                -0.894617
          89                  0    3      -0.124867                -0.184945
Wales     7                   1    1      -0.054584                -0.139325
          32                  0    1       1.026174                 1.062357
          68                  0    0      -0.971590                -0.923031

               Attempted Line Breaks_z_norm  Completed Line Breaks_z_norm
Team
Argentina 8                        0.364745                      0.087403
          46                      -0.795806                     -0.945040
          77                      -1.027917                      0.049164
          98                       0.003684                      0.393311
          115                      0.571065                     -0.103791
...                                     ...                           ...
Uruguay   63                      -0.484182                     -0.623480
          89                       1.149932                      1.153437
Wales     7                        0.226294                      0.195342
          32                       0.867461                      0.887916
          68                      -1.093756                     -1.083258

[128 rows x 42 columns]

In [121]:
groups.agg({    
    'Passes':['min','max'],
    'Yellow Cards' : ['min','max','mean'],
    'Attempted Line Breaks' : ['min','max','std'],
    'Possession (%)':'mean'
})

      Passes  Yellow Cards  Attempted Line Breaks  Possession (%)
min    225.0      0.000000              56.000000             NaN
max   1070.0      8.000000             259.000000             NaN
mean     NaN      1.726562                    NaN       43.476562
std      NaN           NaN              34.120661             NaN

## **Questions on IPL wala dataset**

ball by ball dataset - https://drive.google.com/file/d/1-kvv_9KCSAFWcrhS9WgTxSrURkRh6GNt/view?usp=share_link

###`Q-5:` Find batsman in below category-
* Highest score while chasing
* Best Strike rate while chasing and have faced 100+ balls


> Chasing mean team batting in second inning

In [27]:
ipl_df = pd.read_csv('D:\Education\Extra\Machine Learning\DSMP 1.0\Pandas\Exercise\Dataset\ipl_deliveries.csv')
ipl_df.head(1)

,ID,Team,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
0,1312200,Rajasthan RoyalsGujarat Titans,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans

In [28]:
#1
ipl_df[ipl_df['innings'] == 2].groupby(['batter','ID'])['total_run'].sum().sort_values(ascending = False)

batter         ID
SV Samson      1254061    124
ST Jayasuriya  336018     122
V Sehwag       501243     122
SR Watson      1136620    121
PC Valthaty    501206     121
                         ...
Iqbal Abdulla  829779       0
G Gambhir      548312       0
RV Uthappa     980939       0
G Gambhir      598050       0
               548363       0
Name: total_run, Length: 6972, dtype: int64

In [130]:
#2
df = ipl_df[ipl_df['innings'] == 2]
temp_df = df[~(df['extra_type'] == 'wides')]

temp_df = temp_df.groupby('batter').agg({
    
    "batsman_run" : "sum",
    "ballnumber" :"count"
})

temp_df["strike_rate"] = 100*temp_df["batsman_run"]/temp_df["ballnumber"]
temp_df[temp_df['ballnumber'] > 100].sort_values(by= 'strike_rate',ascending = False).reset_index()

             batter  batsman_run  ballnumber  strike_rate
0        PJ Cummins          222         114   194.736842
1        AD Russell          986         570   172.982456
2    LS Livingstone          182         107   170.093458
3         SP Narine          599         356   168.258427
4        SO Hetmyer          330         200   165.000000
..              ...          ...         ...          ...
175       LR Shukla          137         147    93.197279
176       GH Vihari          179         193    92.746114
177         B Kumar          150         164    91.463415
178        R Dhawan           92         101    91.089109
179          K Goel           97         118    82.203390

[180 rows x 4 columns]

In [32]:
ipl_df.head()

,ID,Team,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
0,1312200,Rajasthan RoyalsGujarat Titans,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
1,1312200,Rajasthan RoyalsGujarat Titans,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
2,1312200,Rajasthan RoyalsGujarat Titans,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
3,1312200,Rajasthan RoyalsGujarat Titans,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
4,1312200,Rajasthan RoyalsGujarat Titans,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans

###`Q-6` Most Successful bowler against any batsman. Find that pair of bowler and batsman.
> Most Successful in terms of dissmissal. A bowler who have dissmissed any batsman most no of times. If any two pairs have same no of dissmisal, consider runs conceded by bowler to that batsman. Those who have concede lesser runs is more successful.

In [59]:
#1
data = ipl_df.groupby(['batter','bowler'])[['isWicketDelivery','batsman_run']].sum().sort_values(ascending = [False,True], by = ['isWicketDelivery','batsman_run'])
data

                           isWicketDelivery  batsman_run
batter     bowler
RG Sharma  SP Narine                      8          137
PA Patel   B Kumar                        7           65
MS Dhoni   Z Khan                         7           74
V Kohli    Sandeep Sharma                 7           78
RG Sharma  A Mishra                       7           87
...                                     ...          ...
N Rana     R Ashwin                       0           99
SR Watson  Sandeep Sharma                 0          102
KD Karthik JD Unadkat                     0          104
SA Yadav   R Ashwin                       0          106
KL Rahul   DL Chahar                      0          120

[24213 rows x 2 columns]

###`Q-7`: Most successful batting pair in IPL. Batting pair who have scored most runs playing together.

In [136]:
def func(x):
    return '-'.join(list(np.sort(x.values)))  #because they are sorting it so the value would remain only one there

ipl_df['batter-pair'] = ipl_df[['batter','non-striker']].apply(func,axis = 1)
ipl_df.groupby('batter-pair')['total_run'].sum().sort_values(ascending = False).head()

batter-pair
AB de Villiers-V Kohli    3134
CH Gayle-V Kohli          2802
DA Warner-S Dhawan        2357
G Gambhir-RV Uthappa      1906
KL Rahul-MA Agarwal       1731
Name: total_run, dtype: int64

###`Q-8:` Make a dataframe for all batting pairs played together.
```
Batsman1 Batsman2 Runs Avg StrikeRate
```

> Just to ease this question you can count wide-balls for strike rate.

In [144]:
df = pd.DataFrame(columns = ['Batsman1', 'Batsman2' ,'Runs' ,'Avg', 'StrikeRate'])


temp_df = ipl_df.groupby('batter-pair').agg({
    
    "total_run" : 'sum',
    "ballnumber":"count",
    "isWicketDelivery":"sum"    
    
}).reset_index()

temp_df['Batsman 1'] = temp_df["batter-pair"].apply(lambda x : x.split("-")[0])
temp_df['Batsman 2'] = temp_df["batter-pair"].apply(lambda x : x.split("-")[1])
temp_df.rename(columns = {'total_run' : "Runs"},inplace = True)
temp_df["strikeRate"] = temp_df['Runs']/temp_df['ballnumber'] *100
temp_df["Avg"]  = temp_df['Runs']/temp_df["isWicketDelivery"]

temp_df.sort_values(by = 'Runs',ascending = False,inplace = True)

temp_df[['Batsman 1', 'Batsman 2' ,'Runs' ,'Avg', 'strikeRate']]

           Batsman 1    Batsman 2  Runs        Avg  strikeRate
302   AB de Villiers      V Kohli  3134  44.140845  152.209811
1251        CH Gayle      V Kohli  2802  52.867925  142.017233
1508       DA Warner     S Dhawan  2357  48.102041  136.637681
1954       G Gambhir   RV Uthappa  1906  39.708333  133.754386
2803        KL Rahul   MA Agarwal  1731  52.454545  142.939719
...              ...          ...   ...        ...         ...
34       A Choudhary     S Badree     0   0.000000    0.000000
4215        T Stubbs  Tilak Varma     0   0.000000    0.000000
64          A Mishra     CL White     0   0.000000    0.000000
3114  M Muralitharan      MS Gony     0   0.000000    0.000000
3107        M Morkel     S Nadeem     0   0.000000    0.000000

[4259 rows x 5 columns]

                                      Batsman1         Batsman2  Runs  \
batter         non-striker
A Ashish Reddy A Mishra         A Ashish Reddy         A Mishra    19
               AA Jhunjhunwala  A Ashish Reddy  AA Jhunjhunwala     3
               CL White         A Ashish Reddy         CL White     3
               DB Ravi Teja     A Ashish Reddy     DB Ravi Teja     6
               DJG Sammy        A Ashish Reddy        DJG Sammy    26
...                                        ...              ...   ...
Z Khan         S Aravind                Z Khan        S Aravind     0
               S Nadeem                 Z Khan         S Nadeem     3
               SL Malinga               Z Khan       SL Malinga    16
               SR Tendulkar             Z Khan     SR Tendulkar     2
               SS Tiwary                Z Khan        SS Tiwary    21

                                     Avg  StrikeRate
batter         non-striker
A Ashish Reddy A Mishra         1.266667  126.666667
               AA Jhunjhunwala  1.000000  100.000000
               CL White         1.000000  100.000000
               DB Ravi Teja     2.000000  200.000000
               DJG Sammy        1.444444  144.444444
...                                  ...         ...
Z Khan         S Aravind        0.000000    0.000000
               S Nadeem         0.600000   60.000000
               SL Malinga       2.000000  200.000000
               SR Tendulkar     0.666667   66.666667
               SS Tiwary        0.840000   84.000000

[7755 rows x 5 columns]

In [81]:
match_played = ipl_df.groupby(['batter','non-striker'])['ID'].nunique()
df['Avg'] = df['Runs']/match_played
df.sort_values(ascending = False,by = 'Runs')

                                     Batsman1        Batsman2  Runs  \
batter         non-striker
AB de Villiers V Kohli         AB de Villiers         V Kohli  1566
CH Gayle       V Kohli               CH Gayle         V Kohli  1508
V Kohli        AB de Villiers         V Kohli  AB de Villiers  1471
DA Warner      S Dhawan             DA Warner        S Dhawan  1353
V Kohli        CH Gayle               V Kohli        CH Gayle  1142
...                                       ...             ...   ...
Q de Kock      KD Karthik           Q de Kock      KD Karthik     0
M Jansen       RD Chahar             M Jansen       RD Chahar     0
               KH Pandya             M Jansen       KH Pandya     0
M Ashwin       JD Unadkat            M Ashwin      JD Unadkat     0
Z Khan         S Aravind               Z Khan       S Aravind     0

                                     Avg  StrikeRate
batter         non-striker
AB de Villiers V Kohli         20.605263  151.891368
CH Gayle       V Kohli         26.456140  149.900596
V Kohli        AB de Villiers  19.878378  143.093385
DA Warner      S Dhawan        27.060000  144.705882
V Kohli        CH Gayle        20.392857  118.097208
...                                  ...         ...
Q de Kock      KD Karthik       0.000000    0.000000
M Jansen       RD Chahar        0.000000    0.000000
               KH Pandya        0.000000    0.000000
M Ashwin       JD Unadkat       0.000000    0.000000
Z Khan         S Aravind        0.000000    0.000000

[7755 rows x 5 columns]