In [4]:
import pandas as pd
import requests

In [7]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=2e0850db7ea4081bf42cb37c47e14aa2&language=en-US&page=1')

In [14]:
df = pd.DataFrame(response.json()['results'])[['id','title','release_date','popularity','vote_average','vote_count']]

In [17]:
df.shape

(20, 6)

In [27]:
df = pd.DataFrame()#empty dataframe

Empty DataFrame
Columns: []
Index: []

In [32]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=2e0850db7ea4081bf42cb37c47e14aa2&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','release_date','popularity','vote_average','vote_count']]
    df = pd.concat([temp_df,df])

In [34]:
df.shape

(8560, 6)

In [35]:
df

,id,title,release_date,popularity,vote_average,vote_count
0,26953,Puppet Master,1989-10-12,7.115,5.800,349
1,6877,Failure to Launch,2006-03-10,8.355,5.800,1672
2,77987,Only God Forgives,2013-05-30,7.624,5.800,2442
3,8457,Drillbit Taylor,2008-02-04,7.385,5.831,1037
4,411873,The Little Hours,2017-06-30,9.535,5.830,574
...,...,...,...,...,...,...
15,769,GoodFellas,1990-09-12,28.650,8.500,13137
16,346,Seven Samurai,1954-04-26,14.966,8.457,3802
17,157336,Interstellar,2014-11-05,88.528,8.500,36578
18,12477,Grave of the Fireflies,1988-04-16,0.021,8.500,5734
19,637,Life Is Beautiful,1997-12-20,18.253,8.447,13205

In [36]:
df.to_csv('Movies')