# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [2]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

unique = []

for i in test_list:
  unique.append(i[0])
unique = set(unique)
result = []

for i in unique:
  result.append([i])
  for j in test_list:
    if j[0] == i:
      result[-1].append(j[1])
      
print(list(map(tuple,result)))

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [29]:
new_tuple = (1, 5, 7, 8, 10)
out_put = ()
for item in range(0,len(new_tuple)):
    if item == 0:
        out_put = out_put + ((new_tuple[item]*new_tuple[item+1]),)
    elif item != 0 and item != (len(new_tuple)-1):
        out_put = out_put + ((new_tuple[item]*new_tuple[item+1] + new_tuple[item-1]*new_tuple[item]),)
    elif item == (len(new_tuple)-1):
        out_put = out_put + ((new_tuple[item-1]*new_tuple[item]),)

print(out_put)

(5, 40, 91, 136, 80)

In [4]:
t = (1, 5, 7, 8, 10)
L = []

L.append(t[0]*t[1])

for i in range(1,len(t)-1):
    L.append(t[i]*t[i-1]+t[i]*t[i+1])
    
L.append(t[-1]*t[-2])

print(tuple(L))

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [ ]:
t1 = (1,2,3,0)
t2 = (1,2,3,0)

if t1 == t2 :
    print("t1 and t2 are same")
else:
    print("t1 and t2 are not same")

t1 and t2 are same

In [9]:
t1 = (1,2,3,0)
t2 = (1,0,3,2)
flag = False
for i,j in (zip(t1,t2)):
    if(i==j):
        flag = False
    else:
        flag = True
        
        
if flag == False:
    print("t1 and t2 are same")
else:
    print("t1 and t2 are not same")

t1 and t2 are not same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [51]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
List = 0
Set = 0
Tuples = 0
for item in list1:
    if type(item) == type([]):
        List+=1 
    elif type(item) == type(set()):
        Set+=1 
    elif type(item) == type(()):
        Tuples+=1 
        
print(f'List - {List}')
print(f'Set - {Set}')
print(f'Tuples - {Tuples}')

List - 2
Set - 2
Tuples - 1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [16]:
no_of_records = int(input("Enter the number of the Student"))
student_record = []

for item in range(no_of_records):
    student_record.append((input("Enter Student Name"),input("Enter Student Higher Graduation"), input("Enter Student Skills"),int(input("Enter Students Passing Year"))))

print(student_record)

print("Enter your Job Requirement")

skills = input("Enter your requirement Skill")
higher_education = input("Enter your requirement Higher Education")   
year_education = int(input("Enter your requirement year of graduation"))   

for item in student_record:
    if (skills == item[2] and higher_education == item[1] and year_education == item[3]):
        print(item[0]," is your suitable Candidate")
        break
    else:
        print("No such candidate")

[('a', 'a', '', 3)]
Enter your Job Requirement
No such candidate

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [9]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

ar1 = set(ar1)
ar2 = set(ar2)
ar3 = set(ar3)

list(ar1.intersection(ar2).intersection(ar3))

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [16]:
str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"

str1 = set(str1)
# print(str1)
vowel = {'a','e','i','o','u','A','E','I','O','U'}
total = 0
for item in str1:
    for char in vowel:
        if (item == char):
            total += 1 
            
print(f"No of unique Vowel - {total}")

No of unique Vowel - 6

In [17]:
str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
str1 = set(str1)

vowel = {'a','e','i','o','u','A','E','I','O','U'}

total = len(str1&vowel)

print(f"No of unique Vowel - {total}")

No of unique Vowel - 6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [29]:
str1 = (input("Enter your String : "))
str2 = set(str1)
# print(str1)
binary = {'0','1'}
switch = False
for item in str2:
    if (item in binary):
        continue
    else:
        switch = True
        break
  
if(switch == True):
    print(f"Given string {str1} is not binary input")
else:
    print(f"Given string {str1} is Binary input")

Given string 1010 is Binary input

In [27]:
str1 = (input("Enter your String : "))
str2 = set(str1)
# print(str1)
total = len(str2)

if(total != 2):
    print(f"Given string {str1} is not binary input")
else:
    print(f"Given string {str1} is Binary input")

Given string 1010 is Binary input

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [ ]:
number = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
uni = set()

for item in number:
    uni.update(item) #-> input is in list thats why it is working
    
print(list(uni))

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [29]:
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}

lst3 = {i for i in lst1 if i in lst2}
lst3 = list(lst3)

print(sorted(lst3))

[9, 11, 26, 28]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [33]:
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
match = []
max_key = ''
max_val = 0
for item in test_dict:
    if(max_val < len(set(test_dict[item]))):
        max_val = len(set(test_dict[item]))
        max_key = item

print(max_key)

Best

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [ ]:
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
final_str = []
out_str = ''
test_str = test_str.split(" ")


for item in test_str:
    if item in repl_dict.keys():
        final_str.append(repl_dict[item])
    else:
        final_str.append(item) 
for item in final_str:
    out_str = out_str  + " " +  item  

print(out_str)

['CampusX', 'best', 'for', 'DS', 'students.']
['CampusX', 'best', 'for', 'DS', 'students.']
 CampusX best for DS students.

In [42]:
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
final_str = []
out_str = ''

for i in test_str.split(" "):
    if i in repl_dict:
        final_str.append(repl_dict[i])
    else:
        final_str.append(i)


print(" ".join(final_str))

CampusX best for DS students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [43]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
dictionary = {}
final_list = []
answer = []
# i = 0

n = len(test_list)
res = []

for i in range(0,n,2):
    final_list.append({key_list[0]:test_list[i],  key_list[1]:test_list[i+1]})
    
print(final_list)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [44]:
lst1 = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
dict1 = dict(lst1)

for item in dict1:
    temp = dict1[item]
    dict1[item] = [temp]
    
print(dict1)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

In [47]:
L = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]

d = {}

for i,j in L:
    d[i] = [j]
    
print(d)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [51]:
d = {'c': [10, 34, 3]}
res = {}
for i in sorted(d):
    res[i] = sorted(d[i])
    
print(res)

{'c': [3, 10, 34]}