# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
# Write your code here
print("Data","Science","Mentorship","Program","By","CampusX",sep="-")

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [10]:
# Write your code here
c = float(input("Enter the temperature in Celcious"))

f = 9*(c)/5 + 32
print("Temperature in Fahrenheit ",f)

Enter the temperature in Celcious12.2
Temperature in Fahrenheit  53.96

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [6]:
# Write your code here
a = int(input("Enter Number 1 = "))
b = int(input("Enter Number 2 = "))
print("Number before changing a = ",a)
print("Number before changing b = ",b)

c = a
a = b
b = c

print("Number after changing a = ",a)
print("Number after changing b = ",b)

Enter Number 1 = 10
Enter Number 2 = 20
Number before changing a =  10
Number before changing b =  20
Number after changing a =  20
Number after changing b =  10

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [9]:
# Write your code here
x,y = int(input("Enter your First Cordinate x = ")), int(input("Enter your First Cordinate y = "))
p,q = int(input("Enter your First Cordinate p = ")), int(input("Enter your First Cordinate q = "))

d = ((x - p)**2+(y - q)**2)**0.5
print("Distance Between two points is ",d)

Enter your First Cordinate x = 1
Enter your First Cordinate y = 2
Enter your First Cordinate p = 0
Enter your First Cordinate q = 0
2.23606797749979

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [13]:
# Write your code here

Simple_Interest = None
P = int(input("Enter the amount of Sum"))
I = float(input("Enter the Interest Rate"))
T = int(input("Enter the Time Period in Years"))

Simple_Interest = (P*I*T)/100

print("Total amount person need to pay after",T,"Years is",P+Simple_Interest)

Enter the amount of Sum100
Enter the Interest Rate10
Enter the Time Period in Years1
Total amount person need to pay after 1 Years is 110.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [32]:
# Write your code here
a = int(input("Enter Number Heads = "))
b = int(input("Enter Number Legs = "))

for d in range(a+1):
  c = a - d;
  total_leg = d*4 + c*2

  if(total_leg == b):
    print("Number of Dogs",d)
    print("Number of Chikens",c)
    exit

Enter Number Heads = 4
Enter Number Legs = 12
Number of Dogs 2
Number of Chikens 2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [19]:
# Write your code here
n = int(input("Enter Number = "))
s = (n*(n+1)*(2*n+1))/6
print("Sum of square of first",n,"Number are",s)

Enter Number = 2
Sum of square of first 2 Number are 5.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [21]:
# Write your code here

a = int(input("Enter First Term = "))
b = int(input("Enter Second Term = "))
n = int(input("Enter Term Which you want to find= "))
d = b-a

T_n = a + (n-1)*d
print("Number which we are looking for is",T_n)

Enter First Term = 10
Enter Second Term = 20
Enter Term Which you want to find= 3
3 th term of the series is 30

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [26]:
x,y = float(input("Enter your Upper Fraction number x/y = ")), float(input("Enter your Lower Fration number x/y = "))
p,q = float(input("Enter your Upper Fraction number p/q = ")), float(input("Enter your Lower Fration number p/q = "))

s = (x/y) + (p/q)

print(s)

Enter your Upper Fraction number x/y = 0
Enter your Lower Fration number x/y = 1
Enter your Upper Fraction number p/q = 1
Enter your Lower Fration number p/q = 2
0.5

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [24]:
# Volume of the milk Tank
H = int(input("Enter Highet of the Tank in cm = "))
L = int(input("Enter Length of the Tank in cm  = "))
B = int(input("Enter Breadth of the Tank in cm = "))
h = int(input("Enter Highet of the glas in cm = "))
r = int(input("Enter radius of the glas in cm  = "))
V1 = H*L*B
V2 = 3.14*(r*r*h)

n_glass = int(V1/V2)

print("you can fill atleast",n_glass,"glasses")

Enter Highet of the Tank in cm = 20
Enter Length of the Tank in cm  = 20
Enter Breadth of the Tank in cm = 20
Enter Highet of the glas in cm = 3
Enter radius of the glas in cm  = 1
you can fill atleast 849 glasses