In [1]:
import numpy as np
import pandas as pd

In [144]:
df = pd.read_csv('train.csv')

In [134]:
df.isnull().sum() #there is no required to fill the Data

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [154]:
df

     Survived  Pclass     Sex   Age     Fare Embarked
0           0       3    male  22.0   7.2500        S
1           1       1  female  38.0  71.2833        C
2           1       3  female  26.0   7.9250        S
3           1       1  female  35.0  53.1000        S
4           0       3    male  35.0   8.0500        S
..        ...     ...     ...   ...      ...      ...
886         0       2    male  27.0  13.0000        S
887         1       1  female  19.0  30.0000        S
888         0       3  female   NaN  23.4500        S
889         1       1    male  26.0  30.0000        C
890         0       3    male  32.0   7.7500        Q

[891 rows x 6 columns]

In [136]:
# Changing the Data Input

# for data in range(len(df['category'])):
#     if df.at[data,'category'] == https://us.youtubers.me/germany/all/top-1000-most_subscribed-youtube-channels-in-germany:
#         df.at[data,'category'] = 'Other'

In [145]:
# Step 1-> Making Data Ready for the Split
df = df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin'],axis=1)

In [150]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
Embarked      2
dtype: int64

In [147]:
# Step 2-> Splliting the Data

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.drop(['Survived'],axis=1),df['Survived'],test_size=0.3,random_state=30)

In [148]:
x_train.shape

(623, 5)

In [151]:
# Step 2-> Adding the Data

from sklearn.impute import SimpleImputer

imp_age = SimpleImputer()
imp_Embarked = SimpleImputer(strategy='most_frequent')

In [153]:
x_train_Age = imp_age.fit_transform(x_train[['Age']])
x_test_Age = imp_age.fit_transform(x_test[['Age']])
x_train_Embarked = imp_Embarked.fit_transform(x_train[['Embarked']])
x_test_Embarked = imp_Embarked.fit_transform(x_test[['Embarked']])

In [ ]:
# Step 3->  Data Scaling
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()
scaler.fit(x_train_Age)
scaler.transform(x_train_Age)
scaler.transform(x_test_Age)

In [158]:
# Step 4->  Data Encoding

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [160]:
ohe_sex = OneHotEncoder(sparse_output=False,handle_unknown='ignore')
ohe_embarked = OneHotEncoder(sparse_output=False,handle_unknown='ignore')

In [ ]:
x_train_sex = ohe_sex.fit_transform(x_train[['Sex']])
x_test_sex = ohe_sex.fit_transform(x_test[['Sex']])
x_train_Embarked = ohe_sex.fit_transform(x_train[['Sex']])
x_test_sex = ohe_sex.fit_transform(x_test[['Sex']])