In [2]:
import pandas as pd
import numpy as np

In [3]:
#creating a empty dataset
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [4]:
df1 = pd.DataFrame([[1,2,3,4,5],[1,2,4,7,8]])
df1

   0  1  2  3  4
0  1  2  3  4  5
1  1  2  4  7  8

In [24]:
df1[4][1] # data frame[column][row]

8

In [26]:
df1.head(1)  # give the element from the first

   0  1  2  3  4
0  1  2  3  4  5

In [28]:
df1.tail(1) # give the element from the last

   0  1  2  3  4
1  1  2  4  7  8