In [6]:
import pandas as pd
import numpy as np
import os
os.getcwd()

'C:\\Users\\axitk\\PycharmProjects\\Python project 2\\Data Science'

In [9]:
os.chdir(r'C:\Users\axitk\PycharmProjects\Python project 2\Data Science\Data File')

In [24]:
df = pd.read_csv('Example - 1.csv')
df

    Data     Value
0   Jagat     1000
1  Chaman     2000
2     Raj     3000
3    Axit     5000
4    Kalu     8000
5    Elon  1000000